* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    padding: 40px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.title h1 {
    font-size: 42px;
    color: #222;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    cursor: pointer;
    position: relative;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.tour-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.tour-name {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

.tour-price {
    background: #e8f9f1;
    color: #0f9d58;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: bold;
}

.tour-info {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    height: 198px;
    overflow-y: hidden;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #ff4d4d;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.btn:hover {
    background: #e63939;
}